@import 'default';
.fp-watermark {
    display: none;
}

// ----- banner_1_0_0
.banner_1_0_0 {
    background: url(../images/banner-top.jpg) center 0 no-repeat;
    height: 250px;
    &__title {
        margin: 0;
        text-align: center;
        padding-top: 165px;
        color: #fff;
        font-weight: 400;
        font-size: 32px;
    }
    @media (max-width: 480px) {
        &__title {
            font-size: 30px;
            line-height: 44px;
            padding-top: 114px;
        }
    }
}

// PAGE2
.page2 {
    &__box {
        display: flex;
        gap: 50px;
        align-items: center;
        margin-top: 40px;
    }
    &__boxLeft {
        width: 60%;
    }
    &__titleLeft {
        font-weight: 400;
        font-size: 28px;
        color: #1d3a6c;
        padding-bottom: 20px;
        border-bottom: 1px solid #91a5c9;
    }
    &__info {
        p {
            line-height: 25px;
            font-size: 15px;
        }
    }
    &__name {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
    }
    &__boxRight {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    @media (max-width: 820px) {
        &__box {
            flex-direction: column;
            gap: 12px;
            margin-bottom: 50px;
        }
        &__boxLeft {
            width: 100%;
        }
    }
    @media (max-width: 480px) {
        &__box {
            margin-top: 10px;
        }
    }
}

// END PAGE2
// PAGE3
.page3 {
    &__title {
        font-weight: 400;
        font-size: 28px;
        color: #1d3a6c;
        padding-bottom: 20px;
        border-bottom: 1px solid #91a5c9;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__item {
        width: calc(33% - 8px);
        p {
            line-height: 25px;
            font-size: 15px;
        }
    }
    &__name {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
    }
    @media (max-width: 820px) {
        &__item {
            width: calc(50% - 8px);
        }
    }
    @media (max-width: 480px) {
        &__item {
            width: 100%;
        }
    }
}

// END PAGE3