@import 'default';

.header_1_0_0{
    background: rgb(27, 58, 108, 0.7);
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    transition: all 0.15s linear;
    &.fixed{
        display: none;
        padding: 10px 0;
        background: rgb(27, 58, 108);
        .header_1_0_0__logo{
            width: 150px;
        }
        .header_1_0_0__top{
            display: none;
        }
        .header_1_0_0__nav{
            padding-top: 0;
        }
        .header_1_0_0__inner{
            align-items: center;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__logo{
        width: 210px;
        transition: all 0.15s linear;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
    }
    &__download{
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        transition: all 0.15s linear;
        &:hover{
            color: #D4B68F;
            text-decoration: underline;
        }
    }
    &__iconDownload{
        display: block;
        background-image: url('../images/icon-download.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    &__search{
        position: relative;
    }
    &__inputSearch{
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 10px 25px 10px 0;
        transition: all 0.15s linear;
        &::placeholder{
            color: #fff;
        }
        &:active, &:focus{
            border-color: #D4B68F;
        }
    }
    &__btnSearch{
        display: block;
        background-image: url('../images/icon-search.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__language{
        border: none;
        background-color: transparent;
        color: #fff;
        outline: none;
        option{
            color: #000;
        }
    }
    &__nav{
        text-transform: uppercase;
        padding-top: 20px;
        transition: all 0.15s linear;
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                padding: 0 5px;
                a{
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.15s linear;
                    &:hover{
                        color: #D4B68F;
                    }
                }
            }
        }
    }
    &__icon{
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        padding: 0;
        background-image: url('../images/bars.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: none;
        transition: all 0.15s linear;
        &.active{
            background-image: url('../images/xmark.svg');
        }
    }
    &__backdrop{
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        position: fixed;
        display: none;
        &.show{
            display: block;
        }
    }
    @media (max-width: 1200px){
        padding: 10px 0;
        font-size: 13px;
        &__logo{
            width: 180px;
        }
    }
    @media (max-width: 1024px){
        padding: 0;
        background-color: rgba(27, 58, 108);
        &.fixed{
            padding: unset;
            .header_1_0_0__logo{
                width: 150px;
            }
            .header_1_0_0__top{
                display: flex;
            }
            .header_1_0_0__nav{
                padding-top: 20px;
            }
        }
        &__inner{
            height: 60px;
            align-items: center;
        }
        &__logo{
            width: 150px;
        }
        &__box{
            display: flex;
            flex-direction: column-reverse;
        }
        &__main{
            position: fixed;
            max-width: 280px;
            width: 100%;
            top: 60px;
            right: 0;
            background-color: rgba(27, 58, 108);
            height: calc(100vh - 60px);
            overflow-y: auto;
            overflow-x: hidden;
            padding-top: 10px;
            transform: translateX(100%);
            transition: all 0.15s linear;
            z-index: 1;
            &.show{
                transform: translateX(0);
            }
        }
        &__top{
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            padding: 5px 20px;
        }
        &__nav{
            ul{
                li{
                    display: block;
                    padding: 0;
                    a{
                        padding: 8px 20px;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
        &__icon{
            display: block;
        }
    }
}