@import 'default';

.header_1_0_0{
    background-color: #1B3A6C;
    padding: 10px 0;
    .header__top{
        display: flex;
        flex-wrap: wrap;
    }
    .header__50{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;
    }
    .header__download{
        color: #fff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        cursor: pointer;
    }
    .header__search{
        position: relative;
        input{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            width: 100%;
            outline: none;
            color: #fff;
            padding: 5px;
            &::placeholder{
                color: #fff;
            }
        }
    }
    .btn__search{
        cursor: pointer;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .header__bottom{
        display: flex;
        padding-top: 20px;
        justify-content: space-between;
    }
    .header__logo{
        width: 280px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .header__menu{
        ul{
            li{
                display: inline-block;
                a{
                    color: #fff;
                    text-decoration: none;
                    padding: 0 10px;
                }
            }
        }
    }
}